<div class="input-group paging">
	@if (IncludePageSizeSelect)
	{
		<div class="input-group-prepend">
			<span class="input-group-text @PageNumberClass" id="pagination-pagenumber">Show record</span>
		</div>

		<div class="input-group-prepend pagesize-selector">
			<select class="custom-select custom-select-md" style="max-width: 75px;" value="@PageSize" @onchange="ChangePageSize">
				@foreach(int size in PageSizeList)
				{
				<option value="@size">@size</option>					
				}
			</select>
		</div>
	}

	<div class="input-group-prepend" @onclick="@(() => this.GoToPage(1))">
		<button class="btn @(ButtonClass)" id="pagination-first">
			@if (UseLabelFirstButton)
			{
				@FirstPageButtonLabel
			}
			else
			{
				<i class="fas fa-angle-double-left"></i>
			}
		</button>
	</div>
	@if (IncludePrevButton)
	{
		<div class="input-group-prepend" @onclick="@(() => this.PreviousPage())">
			<button class="btn @(ButtonClass)" id="pagination-previous">
				@if (UseLabelPrevButton)
				{
					@PrevButtonLabel
				}
				else
				{
					<i class="fas fa-angle-left"></i>
				}
			</button>
		</div>
	}

	<div class="input-group-prepend">
		<span class="input-group-text @PageNumberClass" id="pagination-page">Page</span>
	</div>

	<input type="text" class="form-control pagination-pageNr" placeholder="pageNr"
		   aria-label="pageNr" aria-describedby="pagination-pageNr" value="@ActivePageNumber"
		   @onchange="@(e => this.GoToPage(Convert.ToInt32(e.Value.ToString())))" />

	<div class="input-group-prepend">
		<span class="input-group-text @PageNumberClass" id="pagination-page-count">of @PageCount</span>
	</div>

	@if (IncludeNextButton)
	{
		<div class="input-group-append" @onclick="@(() => this.NextPage())">
			<button class="btn @ButtonClass" id="pagination-next">
				@if (UseLabelNextButton)
				{
					@NextButtonLabel
				}
				else
				{
					<i class="fas fa-chevron-right"></i>
				}
			</button>
		</div>
	}

	@if (IncludeLastButton)
	{
		<div class="input-group-append" @onclick="@(() => this.GoToPage(this.PageCount))">
			<button class="btn @ButtonClass" id="pagination-last">
				@if (UseLabelLastButton)
				{
					@LastPageButtonLabel
				}
				else
				{
					<i class="fas fa-angle-double-right"></i>
				}
			</button>
		</div>
	}
</div>