<div class="input-group paging">
	@if (IncludePageSizeSelect)
	{
		<div class="input-group-prepend">
			<span class="input-group-text @PageNumberClass" id="pagination-pagenumber">Show record</span>
		</div>

		<div class="input-group-prepend pagesize-selector">
			<select style="max-width: 50px;" value="@PageSize" @onchange="ChangePageSize">
				<option value="10">10</option>
				<option value="25">25</option>
				<option value="50">50</option>
			</select>
		</div>
	}

	<div class="input-group-prepend" @onclick="@(() => this.GoToPage(1))">
		<button class="btn @(ButtonClass)" id="pagination-first">
			@if (UseLabelFirstButton)
			{
				@FirstPageButtonLabel
			}
			else
			{
				<i class="fas fa-angle-double-left"></i>
			}
		</button>
	</div>
	@if (IncludePrevButton)
	{
		<div class="input-group-prepend" @onclick="@(() => this.PreviousPage())">
			<button class="btn @(ButtonClass)" id="pagination-previous">
				@if (UseLabelPrevButton)
				{
					@PrevButtonLabel
				}
				else
				{
					<i class="fas fa-angle-left"></i>
				}
			</button>
		</div>
	}

	<div class="input-group-prepend">
		<span class="input-group-text @PageNumberClass" id="pagination-page">Page</span>
	</div>

	<input type="text" class="form-control pagination-pageNr" placeholder="pageNr"
		   aria-label="pageNr" aria-describedby="pagination-pageNr" value="@ActivePageNumber"
		   @onchange="@(e => this.GoToPage(Convert.ToInt32(e.Value.ToString())))" />

	<div class="input-group-prepend">
		<span class="input-group-text @PageNumberClass" id="pagination-page-count">of @PageCount</span>
	</div>

	@if (IncludeNextButton)
	{
		<div class="input-group-append" @onclick="@(() => this.NextPage())">
			<button class="btn @ButtonClass" id="pagination-next">
				@if (UseLabelNextButton)
				{
					@NextButtonLabel
				}
				else
				{
					<i class="fas fa-chevron-right"></i>
				}
			</button>
		</div>
	}

	@if (IncludeLastButton)
	{
		<div class="input-group-append" @onclick="@(() => this.GoToPage(this.PageCount))">
			<button class="btn @ButtonClass" id="pagination-last">
				@if (UseLabelLastButton)
				{
					@LastPageButtonLabel
				}
				else
				{
					<i class="fas fa-angle-double-right"></i>
				}
			</button>
		</div>
	}
</div>

@code {
<<<<<<< HEAD
    /// <summary>
    /// Gets or sets the number of pages.
    /// </summary>
	[Parameter]
	public int PageCount { get; set; } = 1;

    /// <summary>
    /// Gets or sets the active page
    /// </summary>
	[Parameter]
	public int ActivePageNumber { get; set; } = 1;

    /// <summary>
    /// Gets or sets the number of items per page
    /// </summary>
	[Parameter]
	public int PageSize { get; set; } = 10;

    /// <summary>
    /// Gets or sets the event to call when the user selects a new page to go
    /// </summary>
	[Parameter]
	public EventCallback<int> GoToPageEvent { get; set; }

	/// <summary>
    /// Gets or sets the event to call when the user changes the page size
    /// </summary>
	[Parameter]
	public EventCallback<int> PageSizeChangedEvent { get; set; }

	/// <summary>
    /// Gets or sets the CSS class for buttons
    /// </summary>
	[Parameter]
	public string ButtonClass { get; set; } = "btn-light border";

	/// <summary>
    /// Gets or sets the CSS class for the page number
    /// </summary>
	[Parameter]
	public string PageNumberClass { get; set; } = "bg-light border";
	
	/// <summary>
    /// Gets or sets if the button to jump to the first page is visible or not
    /// </summary>
	[Parameter]
	public bool IncludeFirstButton { get; set; } = true;
	
	/// <summary>
    /// Gets or sets if the button to jump to the last page is visible or not
    /// </summary>
	[Parameter]
	public bool IncludeLastButton { get; set; } = true;
	
	/// <summary>
    /// Gets or sets if the first page is a label and not a button
    /// </summary>
	[Parameter]
	public bool UseLabelFirstButton { get; set; } = false;
		
	/// <summary>
    /// Gets or sets if the last page is a label and not a button
    /// </summary>
	[Parameter]
	public bool UseLabelLastButton { get; set; } = false;

	/// <summary>
    /// Gets or sets the text for the first page
    /// </summary>
	[Parameter]
	public string FirstPageButtonLabel { get; set; } = "First";
	
	/// <summary>
    /// Gets or sets the text for the last page
    /// </summary>
	[Parameter]
	public string LastPageButtonLabel { get; set; } = "Last";

	/// <summary>
    /// Gets or sets if the next button has to be shown
    /// </summary>
	[Parameter]
	public bool IncludeNextButton { get; set; } = true;

	/// <summary>
    /// Gets or sets if the previous button has to be shown
    /// </summary>
	[Parameter]
	public bool IncludePrevButton { get; set; } = true;

	/// <summary>
    /// Gets or sets if the page size dropdown has to be shown
    /// </summary>
	[Parameter]
	public bool IncludePageSizeSelect { get; set; } = true;

	/// <summary>
    /// Gets or sets if the next button is a label and not a button
    /// </summary>
	[Parameter]
	public bool UseLabelNextButton { get; set; } = false;

	/// <summary>
    /// Gets or sets if the previous button is a label and not a button
    /// </summary>
	[Parameter]
	public bool UseLabelPrevButton { get; set; } = false;
	
	/// <summary>
    /// Gets or sets the text for the next page
    /// </summary>
	[Parameter]
	public string NextButtonLabel { get; set; } = "Next";
	
	/// <summary>
    /// Gets or sets the text for the previous page
    /// </summary>
=======
	[Parameter]
	public int PageCount { get; set; } = 1;

	[Parameter]
	public int ActivePageNumber { get; set; } = 1;

	[Parameter]
	public int PageSize { get; set; } = 25;

	[Parameter]
	public EventCallback<int> GoToPageEvent { get; set; }

	[Parameter]
	public EventCallback<int> PageSizeChangedEvent { get; set; }

	[Parameter]
	public string ButtonClass { get; set; } = "btn-light border";

	[Parameter]
	public string PageNumberClass { get; set; } = "bg-light border";

	[Parameter]
	public bool IncludeFirstButton { get; set; } = true;

	[Parameter]
	public bool IncludeLastButton { get; set; } = true;

	[Parameter]
	public bool UseLabelFirstButton { get; set; } = false;

	[Parameter]
	public bool UseLabelLastButton { get; set; } = false;

	[Parameter]
	public string FirstPageButtonLabel { get; set; } = "First";

	[Parameter]
	public string LastPageButtonLabel { get; set; } = "Last";

	[Parameter]
	public bool IncludeNextButton { get; set; } = true;

	[Parameter]
	public bool IncludePrevButton { get; set; } = true;

	[Parameter]
	public bool IncludePageSizeSelect { get; set; } = true;

	[Parameter]
	public bool UseLabelNextButton { get; set; } = false;

	[Parameter]
	public bool UseLabelPrevButton { get; set; } = false;

	[Parameter]
	public string NextButtonLabel { get; set; } = "Next";

>>>>>>> 8067c1cc92c53e34d87ef71bf5c8fe928812459e
	[Parameter]
	public string PrevButtonLabel { get; set; } = "Prev";

	[Parameter]
	public RenderFragment ChildContent { get; set; }

	private List<PagingItem> pagingItems = new List<PagingItem>();

	internal void AddPagingItem(PagingItem pagingItem)
	{
		this.pagingItems.Add(pagingItem);
		this.StateHasChanged();
	}

	private async Task ChangePageSize(ChangeEventArgs e) {
		PageSize = Convert.ToInt16(e.Value.ToString());
		await this.PageSizeChangedEvent.InvokeAsync(PageSize);
	}

	private async Task GoToPage(int pageNr)
	{
		if (pageNr <= this.PageCount && pageNr >= 1)
		{
			this.ActivePageNumber = pageNr;
			this.StateHasChanged();
		}
		await this.GoToPageEvent.InvokeAsync(this.ActivePageNumber);
	}

	private async Task NextPage()
	{
		if (this.ActivePageNumber < this.PageCount)
		{
			++this.ActivePageNumber;
			this.StateHasChanged();
		}
		await this.GoToPageEvent.InvokeAsync(this.ActivePageNumber);
	}

	private async Task PreviousPage()
	{
		if (this.ActivePageNumber > 1)
		{
			--this.ActivePageNumber;
			this.StateHasChanged();
		}
		await this.GoToPageEvent.InvokeAsync(this.ActivePageNumber);
	}

	private string GetActiveCssClass(int pageNr) => this.ActivePageNumber != pageNr ? "" : "active";
}